<main id="posts-home">

	<div class="groups">
		<h3>Groups</h3>

	</div>

	<div class="deewar-posts">
		<div class="new-post-form">
			<% if user_signed_in? %>
				<%= form_for @post, remote:true do |f| %>

				<%= f.text_area :content,placeholder: "Write something here.." %>
				<%= f.submit "Share" %>
			<% end %>
		<% end %>
	</div>

	<div class="post">
		<ul id ="posts-list" class="posts-list">
			<% @posts.reverse.each do |post| %>
			<%=render 'post',post:post%>
		<% end %>
	</ul>

</div>

</div>

<div class="friend-list">
<h3>Friends</h3>
<p>
	You got no friends :'(
</p>
</div>

</main>
